.phonescreen {
    width: 200px;
    height: 500px;
    background-color: azure;
    margin: 0 auto;
    display: flex;
}
.app1 {
    width: 25px;
    height: 25px;
    background-image: linear-gradient(red, yellow);
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}