/* Write all your custom CSS below this line  */

body {
    margin: 0;
    background-color: black;
    color: white;
    font-family: arial;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
main {
    text-align: center;
    background-color: black;
    margin-left: 400px;
    margin-right: 400px;
}
header {
    text-align: center;
    background-color: grey;
    margin-left: 400px;
    margin-right: 400px;
}
footer {
    text-align: center;
    background-color: grey;
    margin-left: 400px;
    margin-right: 400px;
}
#green-text {
    color: greenyellow;
}
